.experiencia {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiecia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiecia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ffa801, #ffdd9b);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -80px;
  color: #141414;
  font-size: 0.85rem;
  text-align: right;
  width: 70px;
}

.empresa-titulo {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: bold;
  color: #000000;
}

.empresa-cargo {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: bold;
  color: #000000;
}

.empresa-paragrafo {
  font-size: 0.85rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.85rem;
  line-height: 1.4;
  border-radius: 10px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .experiencia .subtitulo {
        color: #141414
    }

    .experiecia-texto {
        font-size: 1.25rem;
    }

    .empresa-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}

@media (max-width: 800px) {
    .empresa {
        grid-template-columns: 1fr;
    }
}