.cabecalho {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.cabecalho-menu a {
    font-size: 1.125rem;
    line-height: 1.3em;
    padding: 10px 20px;
    text-decoration: none;
    color: #141414;
    display: block;
}

@media (max-width: 800px) {
    .cabecalho {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .cabecalho-menu a {
        background: #f5f5f5;
        border-radius: 4px;
    }    
}