@import url(/style/global.css);
@import url(/style/header.css);
@import url(/style/introducao.css);
@import url(/style/experiencia.css);
@import url(/style/formacao.css);
@import url(/style/footer.css);